@page "/"
@inject IWebHostEnvironment WebHostEnvironment
@using System.Diagnostics;

<img src="images/MoogleLogo.png" width="600" height="180"/>
<!-- <img class="MoogleLogo"/> -->

<div class="background-image"></div>

<!-- Burbujas para el fondo, nada relevante
<div class="container">
    <div class="Bubbles">
        <span site="--i:11;"></span>
        <span site="--i:25;"></span>
        <span site="--i:42;"></span>
        <span site="--i:32;"></span>
        <span site="--i:43;"></span>
        <span site="--i:17;"></span>
        <span site="--i:16;"></span>
        <span site="--i:32;"></span>
        <span site="--i:85;"></span>
        <span site="--i:43;"></span>
        <span site="--i:23;"></span>
        <span site="--i:43;"></span>
        <span site="--i:11;"></span>
        <span site="--i:25;"></span>
        <span site="--i:42;"></span>
        <span site="--i:32;"></span>
        <span site="--i:43;"></span>
        <span site="--i:17;"></span>
        <span site="--i:16;"></span>
        <span site="--i:32;"></span>
        <span site="--i:85;"></span>
        <span site="--i:43;"></span>
        <span site="--i:23;"></span>
        <span site="--i:43;"></span>
        <span site="--i:34;"></span>
        <span site="--i:24;"></span>
        <span site="--i:75;"></span>
        <span site="--i:12;"></span>
        <span site="--i:34;"></span>
        <span site="--i:55;"></span>
    </div>
</div> 
-->

<PageTitle>Moogle!</PageTitle>

<!-- <h1>🔍 Moogle!</h1> -->
<h6></h6>

<input class="p-1 my-4" @bind="query" placeholder="What do you want?">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Search</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>Did you mean <strong><a href="#">@result.Suggestion</a></strong>?</p>
       <!-- <p>Tomó @Timing segundos</p> -->
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title">@item.Title</p>
            <p>-->  @item.Snippet ..</p>
            <p>-->  @item.Score ...</p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();
    public static double Timing = Moogle.Time;
    private void RunQuery() {
        
        result = Moogle.Query(query);
    }
}
