
.results {
  clear: both;
  text-align: left;
  width: 50vw;
  color: var(--Letteras);
  font-size: 18px;
}

.fade-in-animation {
    margin: 10px;
    padding: 10px;
    width: 850px;
    background-color: #00010327;
    border: 1;
    border-radius: 10px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
  }
.fade-in-animation:hover{
  transition: 320ms;
  background-color: rgba(0, 2, 20, 0.651);
}
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.item .title {
    font-size: large;
    font-weight: italic;
}