@page "/"
@using System.Diagnostics;

<img src="images/MoogleLogo.png" width="470" height="220"/>

<PageTitle>Moogle!</PageTitle>

<!-- <h1>🔍 Moogle!</h1> -->
<h6></h6>

<input class="p-1 my-4" @bind="query" placeholder="What do you want?">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Search</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quizas quisiste decir <strong><a href="#">@result.Suggestion</a></strong>?</p>
        <p>Tomó @Timing segundos</p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title">@item.Title</p>
            <p>-->  @item.Snippet ..</p>
            <p>-->  @item.Score ...</p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();
    public static double Timing = Moogle.Time;
    private void RunQuery() {
        
        result = Moogle.Query(query);
    }
}
