@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --SearchingBoxPosition: relative;
    --SearchingBoxTop: 25vh;
    --SearchingBoxLeft: 25vw;
    --Letteras: #fff;
    --Background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url("../images/UnBlurredBG.jpg");
    --WallpaperGround: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url("../images/UnBlurredBG.jpg");
    --SearchBoxBackGround: #242731;
    --SearchBoxBorder: 0;
    --SearchBoxBorderColor: 0;
    --MoogBackGColor: #3b3f4d00;
    --relocate_float: 0;
    --relocate_clear: 0;
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--Letteras);
    min-height: 100vh;
    height: 100%;
}
.MoogLogo{
    border-radius: 30px;
    transition: 100ms;
    background-color: var(--MoogBackGColor);
}
.SearchBar{
    width: 100%;
    position: relative;
    left: 40px;
}
.Searching{
    width: 40vw;
    float: var(--relocate_float);
    clear: var(--relocate_clear);
    position: var(--SearchingBoxPosition);
    top: var(--SearchingBoxTop);
    left: var(--SearchingBoxLeft);
    transition: 300ms;
}
.SearchBox{
    font-size: 17px;
    transform: scale(1.1,1.2);
    position: relative;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
    background: var(--SearchBoxBackGround);
    color: var(--Letteras);
    border: var(--SearchBoxBorder);
    border-color: var(--SearchBoxBorderColor);
    border-radius: 10px;
    padding: 10px 20px;
    padding-right: 15px;
    transition: 100ms;
    accent-color: #002fff62;

}
.SearchBox:hover{
    background: #3b3f4d;
}
::placeholder{
    font-size: 18px;
    color: #ffffff93;
}
.background-image {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2)), url("../images/UnBlurredBG.jpg");*/
    /*background-color: #1e2028;*/
    background: var(--Background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms;
    filter: blur(2px);
}
.SearchButton{
    position: absolute;
    top: 0;
    right: -35px;
    height: 100%;
    transform: scale(0.7);
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-radius: 10px;
    padding-bottom: 20px;
    transition: 200ms;
}
.SearchButton:hover{
    transform: scale(0.9);
    transition: 100ms;
}
.BG{
    background-color: transparent;
    border: 0;
    border-radius: 60px;
    padding: 10px;
    transform: scale(0.7);
    position: fixed;
    top: 20px;
    right: 25px;
    transition: 100ms;
}
.BG:hover{
    transition: 200ms;
    background-color: #3b3f4d91;
    rotate: 90deg;
}
h1:focus {
    outline: none;
    background-color: rebeccapurple;
}

a, .btn-link {
    color: #00eeff;
}

.btn-primary {
    position: relative;
    color: #ff0000;
    background-color: transparent;
    border-radius: 10px;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
